<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>


<form action="/login" method="post">
    <h1>Log in </h1>

        <label for="userName">User Name</label>
        <input type="text" name="userName" id="userName" >
    <br><br>
        <label for="hashedPassword">Password</label>
        <input type="password" name="hashedPassword" id="hashedPassword" >
    <br><br>
        <input type="submit" value="Log in">

</form>


<p>Don't have an Account? <a href="/signupfromlogin"> Sign up</a></p>

</body>
</html>