<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome !</title>
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
<h1>Welcome to our App!</h1>

<form form action="/signupFromWelcome" method="post" >
    <p>Create a new account </p>
    <input type="submit" value="Sign up">
</form>


<form action="/loginFromWelcome" method="post" >
    <p>Already have an account ? </p>
    <input type="submit" value="Log in">
</form>

</body>
</html>